<div class="row wrapper border-bottom white-bg page-heading">
    <div class="tabs-container">
        <uib-tabset>
            <uib-tab heading="能耗分类分项设置">
                <div class="panel-body">
                    <div class="col-lg-15">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content">

                                        <table class="table table-striped" >
                                            <thead>
                                            <tr>
                                                <th>能耗分类</th>
                                                <th>能耗子分类</th>
                                                <th>能耗分项</th>
                                                <th>单位</th>
                                                <th>操作</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>电</td>
                                                <td>电</td>
                                                <td>空调用电,照明用电,动力用电</td>
                                                <td>千瓦时</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button">添加</button>
                                                    <button class="btn btn-warning" type="button">编辑</button>
                                                    <button class="btn btn-danger" type="submit">删除</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>水</td>
                                                <td>新鲜水,软化水,除氧水</td>
                                                <td>新鲜水,软化水,除氧水,生活用水</td>
                                                <td>吨</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button">添加</button>
                                                    <button class="btn btn-warning" type="button">编辑</button>
                                                    <button class="btn btn-danger" type="submit">删除</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>蒸汽</td>
                                                <td>10MPa蒸汽,1MPa蒸汽,0.3MPa蒸汽</td>
                                                <td>10MPa蒸汽,1MPa蒸汽,0.3MPa蒸汽1</td>
                                                <td>ton</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button">添加</button>
                                                    <button class="btn btn-warning" type="button">编辑</button>
                                                    <button class="btn btn-danger" type="submit">删除</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>气</td>
                                                <td>天然气,焦炉煤气</td>
                                                <td>天然气,焦炉煤气</td>
                                                <td>万立方米</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button">添加</button>
                                                    <button class="btn btn-warning" type="button">编辑</button>
                                                    <button class="btn btn-danger" type="submit">删除</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>油</td>
                                                <td>汽油,煤油</td>
                                                <td>汽油,煤油</td>
                                                <td>吨</td>
                                                <td>
                                                    <button class="btn btn-primary" type="button">添加</button>
                                                    <button class="btn btn-warning" type="button">编辑</button>
                                                    <button class="btn btn-danger" type="submit">删除</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>
</div>
