
<div class="wrapper wrapper-content">
    <h2>
        <span class="text-navy">Copy Right & Merit Award</span>
    </h2>
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">

            <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/SEED/SEED-copyright.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            SEED Copy Right.pdf
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/PM25/iaq-keeper-copyright.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            iaq-keeper-copyright.pdf
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/Award/Invit_JunchaoHu.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            赴日邀请函.pdf
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/Award/yinmuzhi.jpg" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="JCI-Product-Info/Award/yinmuzhi.jpg">
                        </div>
                        <div class="file-name">
                            智能建筑展金拇指奖
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/Award/MeritAward.jpg" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="JCI-Product-Info/Award/MeritAward.jpg">
                        </div>
                        <div class="file-name">
                            2016总裁奖
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/SPEED/thanksletter.PDF" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            东源总裁感谢信
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            
            

        </div>

    </div>

    <h2>
        <span class="text-navy">FEED</span>
    </h2>
    
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">

            <!-- <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/FEED/FEED-SRD.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            FEED-SRD.pdf
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div> -->
            <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/FEED/FEED-Architecture.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            FEED-Architecture.pdf
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div>
            <!-- <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/FEED/FEED-progress.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            FEED-进度安排.pdf
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div> -->
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/FEED/bigdata.jpg" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="JCI-Product-Info/FEED/bigdata.jpg">
                        </div>
                        <div class="file-name">
                            Big Data.jpg
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/FEED/dashboard01.jpg" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="JCI-Product-Info/FEED/dashboard01.jpg">
                        </div>
                        <div class="file-name">
                            Dashboard.jpg
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/FEED/database.jpg" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="JCI-Product-Info/FEED/database.jpg">
                        </div>
                        <div class="file-name">
                            Database.jpg
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/FEED/multidimensional-analysis.jpg" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="JCI-Product-Info/FEED/multidimensional-analysis.jpg">
                        </div>
                        <div class="file-name">
                            Multidimensional Analysis.jpg
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            

        </div>

    </div>

    <h2>
        <span class="text-navy">SEED</span>
    </h2>
    
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">

            <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/SEED/SEED-casestudy-taiguhui.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            SEED-成功案例-太古汇
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/SEED/SEEDArchitectureAndStack.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            SEED-Architecture.pdf
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="file-box">
                <div class="file">
                <a href="JCI-Product-Info/SEED/seed-software-release-guide-version-1-6-1.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            SEED-版本控制.pdf
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>
                </div>

            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/SEED/SEED-xuanchuan.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            SEED宣传手册
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/SEED/SEED-function-list.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            SEED功能列表
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/SEED/SEED-Introduction-English.pdf" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="img/fileICO/pdf.png">
                        </div>
                        <div class="file-name">
                            SEED介绍英文版
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            <div class="file-box">
                <div class="file">
                    <a href="JCI-Product-Info/SEED/introduction/2.jpg" target="_blank">
                        <span class="corner"></span>

                        <div class="image">
                            <img alt="image" class="img-responsive" src="JCI-Product-Info/SEED/introduction/2.jpg">
                        </div>
                        <div class="file-name">
                            SEED系统解决方案
                            <br/>
                            <small>Added: Jan 5, 2017</small>
                        </div>
                    </a>

                </div>
            </div>
            

        </div>

    </div>



</div>
