
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Feed AI
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <ul>
                        <li>0. 基于GPU的能效大数据人工智能分析系统</li>
                        <li>1. 项目方向：基于GPU高性能计算平台和多维度能耗比较功能，计算所有维度数据，分析出能效异常的原因。</li>
                        <li>2. 研究重点：针对各级用能单位的单台能耗数据波动进行智能故障诊断分析，找出能效故障原因。</li>
                        <li>3. 经济价值：实时进行能效异常原因分析，节约专业人员大量分析时间，降低人工成本。</li>

                        <li>完成竞品分析，技术选型及前端DEMO。</li>
                        <li>0. GPU高性能计算采用NVIDIA CUDA框架</li>
                        <li>1. 机器学习采用ScikitLearn</li>
                        <li>2. 开发语言采用Python3</li>
                        <li>3. 报表展示采用AngularX，Echarts，Bootstrap</li>
                        <li>4. 数据库采用MemSQL</li>
                    </ul>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">AngularX</button>
                            <button class="btn btn-white btn-xs" type="button">python</button>
                            <button class="btn btn-white btn-xs" type="button">ScikitLearn</button>
                            <button class="btn btn-white btn-xs" type="button">MachineLearning</button>
                            <button class="btn btn-white btn-xs" type="button">CUDA</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Feed
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <ul>
                        <li>0. FEED(Factory Energy Efficiency Dashboard)主要功能是对生产能源数据进行采集、加工、分析，处理以实现对工厂用能单位的全方位的监控和管理功能，达到企业节能增效的目的。</li>
                        <li>1. 由能耗数据采集、数据清洗、数据规范化、数据存储、数据分析组成，能耗数据经过分析处理通过基于Web的客户端系统供用户查询、分析和生成报告。</li>
                        <li>2. 前台采用html5,Bootstrap, AngularJS, Highcharts，MQTT等技术，开发语言采用Javascript。</li>
                        <li>3. 后台采用falcon, linux services等技术,开发语言采用Python3。</li>
                        <li>4. 数据库采用高效实时内存数据库MemSQL，优点是高性能，可横向分布式扩展。</li>

                        <li>独立完成整个项目中的前端开发工作、部分后台Rest API接口、高级报表、能耗报警、故障诊断分析</li>
                        <li>0. 读取Rest API 接口，获得能耗数据</li>
                        <li>1. 采用高性能图表展示类库(Highcharts)，进行数据可视化展示。</li>
                        <li>2. 提供对不同时间期,不同用能单位，不同能耗分类的查询展示功能</li>
                        <li>3. 提供实时数据的展示功能，采用MQTT实时消息协议。</li>
                        <li>4. 采用pyxl库自动生成高级报表，schedule库进行定时调度。</li>
                        <li>5. 通过邮件，短信，微信等方式发送能耗报警信息。</li>
                        <li>6. 主要采用技术为AngularJS,Highcharts,MQTT,Bootstrap，Falcon</li>
                    </ul>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Angularjs</button>
                            <button class="btn btn-white btn-xs" type="button">python3</button>
                            <button class="btn btn-white btn-xs" type="button">Highcharts</button>
                            <button class="btn btn-white btn-xs" type="button">MQTT</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Speed
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <ul>
                        <li>0. Speed主要功能是对建筑楼宇展示LEED节能措施，实时节能量，室内温湿度，PM2.5,CO2及声环境监测等。</li>
                        <li>1. 集实时数据，声音，图片，视频于一体，全方位展示LEED节能效果。</li>
                        <li>2. 前台采用html5,Bootstrap, AngularJS, Highcharts，MQTT等技术，开发语言采用Javascript。</li>
                        <li>3. 后台采用Apache Server等技术,开发语言采用PHP。</li>
                        <li>4. 数据库采用MySQL</li>

                        <li>独立完成整个项目中的前端开发工作。</li>
                        <li>0. 通过读取Rest API 接口，获得能耗数据</li>
                        <li>1. 采用高性能图表展示类库(Highcharts)，进行数据可视化展示。</li>
                        <li>2. 提供实时数据的展示功能，采用MQTT实时消息协议。</li>
                        <li>3. 主要采用技术为AngularJS,Highcharts,MQTT,Bootstrap.</li>
                    </ul>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Angularjs</button>
                            <button class="btn btn-white btn-xs" type="button">MQTT</button>
                            <button class="btn btn-white btn-xs" type="button">Highcharts</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            示例
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>alex Trebek</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>责任描述：
                        在本项目中本人既是Leader也是高效的执行者角色。本人独立完成了整个项目的设计工作，并参与开发与测试等环节中。
                        在项目中主要完成了首页Portlet展示、协同审批等主要功能模块，采用Html ,CSS, JQuery等技术，后台使用Hibernate, Struts2 ,Spring3 的MVC架构，主要应用为hibernate的ORM，struts2 的OGNL, 标签库，拦截器，Spring的AOP等。
                    </p>
                    <p> 项目描述：
                        该项目主要功能模块分为首页Portlet展示、协同审批、协同工作、日历、资源管理、知识中心、新闻中心、通讯录、系统管理。是一套很好的办公自动化系统，用户能够轻松自定义表单、工作流、公文等，有良好的协同操作，很好的实现了审批、公文交换、日历等重要功能。页面采用Html ,CSS, JQuery等技术，后台使用Hibernate, Struts2 ,Spring3 的MVC架构，主要应用为hibernate的ORM，struts2 的OGNL, 标签库，拦截器，Spring的AOP等。
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                            <button class="btn btn-white btn-xs" type="button">Modern</button>
                            <button class="btn btn-white btn-xs" type="button">Premium</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 23 comments </div>
                                <i class="fa fa-eye"> </i> 34 views
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            MPMS
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <ul>
                        <li>0. MPMS主要功能是对员工工时，培训，现场支持，参加展会时间进行统计汇总，生成周报，月报等，用于定期像领导汇报。</li>
                        <li>1. 前台采用html5,Bootstrap, BackboneJS,RequireJS等技术，开发语言采用Javascript。</li>
                        <li>2. 后台采用MS WEB API2等技术,开发语言采用CSharp。</li>
                        <li>3. 数据库采用MySQL</li>

                        <li>独立完成整个项目。</li>
                        <li>0. 通过读取WEB API 接口，获得个人工时信息</li>
                        <li>1. 采用高性能图表展示类库(Highcharts)，进行数据可视化展示。</li>
                        <li>2. 主要采用技术为Highcharts,BackboneJS,Requirejs,Bootstrap.</li>
                    </ul>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">C#</button>
                            <button class="btn btn-white btn-xs" type="button">BackboneJS</button>
                            <button class="btn btn-white btn-xs" type="button">Web API 2</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            SEED
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <ul>
                        <li>0. </li>
                        <li>1. </li>
                        <li>2. </li>
                        <li>3. </li>
                        <li>4. </li>
                        <li>5. </li>
                    </ul>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Modern</button>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 32 comments </div>
                                <i class="fa fa-eye"> </i> 10 views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            The new common language
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Adam Novak</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                        English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
                    </p>
                    <p>
                        The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Premium</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 47 comments </div>
                                <i class="fa fa-eye"> </i> 138 views
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Their pronunciation and their most
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Mike Johnson</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                        To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Publishing</button>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 54 comments </div>
                                <i class="fa fa-eye"> </i> 52 views
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>


</div>