
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a class="btn-link">
                        <h2>
                            AngularJS(v1.5)
                        </h2>
                        <h4 >
                            为克服HTML在构建应用上的不足而设计
                        </h4>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <ul>
                        <li>使用双大括号{{}}语法进行数据绑定；</li>
                        <li>使用DOM控制结构来实现迭代或者隐藏DOM片段；</li>
                        <li>支持表单和表单的验证；</li>
                        <li>能将逻辑代码关联到相关的DOM元素上；</li>
                        <li>能将HTML分组成可重用的组件</li>
                        
                    </ul>
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">双向绑定</button>
                            <button class="btn btn-white btn-xs" type="button">模型数据</button>
                            <button class="btn btn-white btn-xs" type="button">模板</button>
                            <button class="btn btn-white btn-xs" type="button">控制器</button>
                            <button class="btn btn-white btn-xs" type="button">指令</button>
                            <button class="btn btn-white btn-xs" type="button">依赖注入</button>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                <i class="fa fa-eye"> </i> 144 views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a class="btn-link" ng-src="https://angular.io/docs">
                        <h2>
                            Angular(v6.x)
                        </h2>
                        <h4 >
                            
                        </h4>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                          Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best 
                    practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop
                        
                    </p>
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">双向绑定</button>
                            <button class="btn btn-white btn-xs" type="button">模型数据</button>
                            <button class="btn btn-white btn-xs" type="button">模板</button>
                            <button class="btn btn-white btn-xs" type="button">控制器</button>
                            <button class="btn btn-white btn-xs" type="button">指令</button>
                            <button class="btn btn-white btn-xs" type="button">依赖注入</button>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 56 comments </div>
                                <i class="fa fa-eye"> </i> 144 views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a  class="btn-link">
                        <h2>
                            Gulp
                        </h2>
                        <h4>用自动化构建工具增强工作流程！</h4>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <ul>
                        <li>通过代码优于配置的策略，Gulp 让简单的任务简单，复杂的任务可管理。</li>
                        <li>利用 Node.js 流的威力，你可以快速构建项目并减少频繁的 IO 操作</li>
                        <li>Gulp 严格的插件指南确保插件如你期望的那样简洁高质得工作。</li>
                        <li>通过最少的 API，掌握 Gulp 毫不费力，构建工作尽在掌握：如同一系列流管道。</li>
                        
                    </ul>
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">易于使用</button>
                            <button class="btn btn-white btn-xs" type="button">构建快速</button>
                            <button class="btn btn-white btn-xs" type="button">插件高质</button>
                            <button class="btn btn-white btn-xs" type="button">易于学习</button>
                        </div>
                        <div class="col-md-4">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 36 comments </div>
                                <i class="fa fa-eye"> </i> 100 views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            TypeScript
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                        TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.
                    </p>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">scales</button>
                            <button class="btn btn-white btn-xs" type="button">open source</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Git
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                        Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.
                    </p>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">easy to learn</button>
                            <button class="btn btn-white btn-xs" type="button">open source</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            示例
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>alex Trebek</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>责任描述：
                        在本项目中本人既是Leader也是高效的执行者角色。本人独立完成了整个项目的设计工作，并参与开发与测试等环节中。
                        在项目中主要完成了首页Portlet展示、协同审批等主要功能模块，采用Html ,CSS, JQuery等技术，后台使用Hibernate, Struts2 ,Spring3 的MVC架构，主要应用为hibernate的ORM，struts2 的OGNL, 标签库，拦截器，Spring的AOP等。
                    </p>
                    <p> 项目描述：
                        该项目主要功能模块分为首页Portlet展示、协同审批、协同工作、日历、资源管理、知识中心、新闻中心、通讯录、系统管理。是一套很好的办公自动化系统，用户能够轻松自定义表单、工作流、公文等，有良好的协同操作，很好的实现了审批、公文交换、日历等重要功能。页面采用Html ,CSS, JQuery等技术，后台使用Hibernate, Struts2 ,Spring3 的MVC架构，主要应用为hibernate的ORM，struts2 的OGNL, 标签库，拦截器，Spring的AOP等。
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Model</button>
                            <button class="btn btn-white btn-xs" type="button">Publishing</button>
                            <button class="btn btn-white btn-xs" type="button">Modern</button>
                            <button class="btn btn-white btn-xs" type="button">Premium</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 23 comments </div>
                                <i class="fa fa-eye"> </i> 34 views
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            HighCharts
                        </h2>
                        <h4>Make your data come alive</h4>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                        Highcharts makes it easy for developers to set up interactive charts in their web pages

                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">HTML</button>
                            <button class="btn btn-white btn-xs" type="button">JAVASCRIPT</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a  class="btn-link">
                        <h2>
                            Echarts
                        </h2>
                        <h4>一个使用 JavaScript 实现的开源可视化库,提供直观，交互丰富，可高度个性化定制的数据可视化图表.</h4>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <ul>
                        <li>丰富的可视化类型</li>
                        <li>多种数据格式无需转换直接使用</li>
                        <li>千万数据的前端展现</li>
                        <li>多渲染方案，跨平台使用！</li>
                        <li>多维数据的支持以及丰富的视觉编码手段</li>
                        <li>深度的交互式数据探索</li>
                        
                    </ul>
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">HTML</button>
                            <button class="btn btn-white btn-xs" type="button">JAVASRIPT</button>
                            <button class="btn btn-white btn-xs" type="button">ZRender</button>
                            <button class="btn btn-white btn-xs" type="button">open source</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Lodash
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                        A modern JavaScript utility library delivering modularity, performance & extras.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">Modern</button>
                            <button class="btn btn-white btn-xs" type="button">javascript</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> <i class="fa fa-comments-o"> </i> 32 comments </div>
                                <i class="fa fa-eye"> </i> 10 views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            Bootstrap
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                        Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
                    </p>
                    <p>
                        Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-white btn-xs" type="button">HTML</button>
                            <button class="btn btn-white btn-xs" type="button">CSS</button>
                            <button class="btn btn-white btn-xs" type="button">JAVASCRIPT</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <a ui-sref="app.article" class="btn-link">
                        <h2>
                            ReactiveX
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>Junchao Hu</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 6th Aug 2018</span>
                    </div>
                    <p>
                        An API for asynchronous programming with observable streams.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Tags:</h5>
                            <button class="btn btn-primary btn-xs" type="button">Functional</button>
                            <button class="btn btn-white btn-xs" type="button">Less is more</button>
                            <button class="btn btn-white btn-xs" type="button">Async error handling</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>