
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
                <div class="lightBoxGallery">
                    <a href="JCI-Product-Info/SEED/introduction/1.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/SEED/introduction/1.jpg"></a>
                    <a href="JCI-Product-Info/SEED/introduction/2.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/SEED/introduction/2.jpg"></a>
                    <a href="JCI-Product-Info/SEED/introduction/3.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/SEED/introduction/3.jpg"></a>
                    <a href="JCI-Product-Info/SEED/introduction/4.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/SEED/introduction/4.jpg"></a>
                    <a href="JCI-Product-Info/SEED/introduction/5.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/SEED/introduction/5.jpg"></a>
                    <a href="JCI-Product-Info/SEED/introduction/6.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/SEED/introduction/6.jpg"></a>
                    <a href="JCI-Product-Info/SEED/introduction/7.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/SEED/introduction/7.jpg"></a>
                    <a href="JCI-Product-Info/SEED/introduction/8.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/SEED/introduction/8.jpg"></a>


                    <a href="JCI-Product-Info/PM25/introduction/1.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/PM25/introduction/1.jpg"></a>
                    <a href="JCI-Product-Info/PM25/introduction/2.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/PM25/introduction/2.jpg"></a>
                    <a href="JCI-Product-Info/PM25/introduction/3.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/PM25/introduction/3.jpg"></a>
                    <a href="JCI-Product-Info/PM25/introduction/4.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/PM25/introduction/4.jpg"></a>
                    <a href="JCI-Product-Info/PM25/introduction/5.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/PM25/introduction/5.jpg"></a>
                    <a href="JCI-Product-Info/PM25/introduction/6.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/PM25/introduction/6.jpg"></a>
                    <a href="JCI-Product-Info/PM25/introduction/7.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/PM25/introduction/7.jpg"></a>
                    <a href="JCI-Product-Info/PM25/introduction/8.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/PM25/introduction/8.jpg"></a>

                    <a href="JCI-Product-Info/FEED/introduction/1.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/FEED/introduction/1.jpg"></a>
                    <a href="JCI-Product-Info/FEED/introduction/2.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/FEED/introduction/2.jpg"></a>
                    <a href="JCI-Product-Info/FEED/introduction/3.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/FEED/introduction/3.jpg"></a>
                    <a href="JCI-Product-Info/FEED/introduction/4.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/FEED/introduction/4.jpg"></a>
                    <a href="JCI-Product-Info/FEED/introduction/5.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/FEED/introduction/5.jpg"></a>
                    <a href="JCI-Product-Info/FEED/introduction/6.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/FEED/introduction/6.jpg"></a>
                    <a href="JCI-Product-Info/FEED/introduction/7.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/FEED/introduction/7.jpg"></a>
                    <a href="JCI-Product-Info/FEED/introduction/9.jpg" title="Image from Unsplash" data-gallery=""><img src="JCI-Product-Info/FEED/introduction/9.jpg"></a>
                    

                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>

            </div>

    </div>
</div>
</div>
<style>
    /* Local style for demo purpose */

    .lightBoxGallery {
        text-align: center;
    }

    .lightBoxGallery img {
        margin: 5px;
        width:230px;
        height: 200px;
    }

</style>
